.tweetError {
  box-sizing:content-box;
  border-style:solid;
  height: 50px;
  border-color: red;
  color: red;
  flex-direction: row;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}