.tweet {
  background-color: #f4f1ec;
  background-image: none;
  border-style: solid;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.tweet:hover {
  box-shadow: 5px 5px rgb(113, 113, 223);
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  align-items: center;
  height: 50px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.tweetText {
  border-bottom-style: solid;
  border-width: thick;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.tweetFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.dateText {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: medium;
}

.tweetIcon {
  font-size: medium;
  color: rgb(51, 51, 155);
}

.tweetIcon:hover {
  color: rgb(180, 151, 19);
}

.tweetAvatarName {
  align-items: center;
}
